/* General styles for the entire site */
body {
    font-family: 'Arial', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between; /* This will space between the nav-left and nav-right */
}

.nav-left, .nav-right {
    display: flex;
}

.nav-left ul, .nav-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-left li, .nav-right li {
    margin-right: 20px;
}

.nav-right li:last-child {
    margin-right: 0; /* Removes margin for the last item */
}

.nav-left li a, .nav-right li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    display: block;
    padding: 8px 15px;
    border-radius: 4px;
}

.nav-left li a:hover, .nav-right li a:hover {
    background-color: #eaeaea;
}


/* Settings-specific styles */
.settings-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

.setting:last-child {
    border-bottom: none;
}

.setting-name {
    font-size: 1rem;
    color: #333;
}

.setting-toggle, .setting-option {
    color: #333;
    font-weight: bold;
}

/* Toggle switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Additional styles can be added below as needed */
